domains/customer-service/darkay/Atendimento_-_Envio_de_audio_sanitized.json
{
  "name": "Atendimento - Envio de audio",
  "nodes": [
    {
      "parameters": {
        "amount": 1.5
      },
      "id": "3ef22a16-54e8-4009-b4ba-3e3e925a7be0",
      "name": "waitSeconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        80
      ],
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "efa47093-900e-4d74-945e-49450c13130d",
      "name": "contentLoop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        16
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "message",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "6b3b2e1d-9fbe-43c3-8fa6-928cf0871685",
      "name": "contentSplit",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "928f8c88-2bb4-40c3-8bd1-890d248b9365",
              "name": "message",
              "value": "={{ $json.message.split('\\n\\n').map(item => item.replace(/\\[|\\]/g, '')) }}",
              "type": "array"
            },
            {
              "id": "3196df60-b877-49a2-ab00-7437138cca28",
              "name": "recipient",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        16
      ],
      "id": "7b905a20-9ce4-43af-8dbc-4bf3ac4abe45",
      "name": "variaveisAmbiente"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "phoneNumber"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        16
      ],
      "id": "039ebdcb-0d93-4fdb-9bc6-2ea9082a3c08",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "number": "={{ $json.recipient }}",
        "text": "={{ $json.message.replace(/\\[NIN]/g, '').split('\\n\\n').join('\\n') }}"
      },
      "type": "n8n-nodes-uazapi.uazApi",
      "typeVersion": 1,
      "position": [
        816,
        80
      ],
      "id": "965e0596-515d-4726-8d2d-2af8518e82c4",
      "name": "Send text message",
      "credentials": {
        "uazApiApi": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "UazAPI Fugimura account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "waitSeconds": {
      "main": [
        [
          {
            "node": "contentLoop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contentLoop": {
      "main": [
        [],
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contentSplit": {
      "main": [
        [
          {
            "node": "contentLoop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveisAmbiente": {
      "main": [
        [
          {
            "node": "contentSplit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "variaveisAmbiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "main": [
        [
          {
            "node": "waitSeconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "{{VERSION_ID}}",
  "meta": {
    "instanceId": "{{INSTANCE_ID}}"
  },
  "id": "{{WORKFLOW_ID}}",
  "tags": []
}